@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/monsterrat/Montserrat-Regular.woff2') format('woff2'),
        url('../fonts/monsterrat/Montserrat-Regular.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'MontserratBold';
    src: url('../fonts/monsterrat/Montserrat-Bold.woff2') format('woff2'),
        url('../fonts/monsterrat/Montserrat-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'MontserratLight';
    src: url('../fonts/monsterrat/Montserrat-Light.woff2') format('woff2'),
        url('../fonts/monsterrat/Montserrat-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'MontserratSemiBold';
    src: url('../fonts/monsterrat/Montserrat-SemiBold.woff2') format('woff2'),
        url('../fonts/monsterrat/Montserrat-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'MyriadProRegular';
    src: url('../fonts/myriadpro/MyriadPro-Regular.woff2') format('woff2'),
        url('../fonts/myriadpro/MyriadPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gregor';
    src: url('../fonts/gregor/Gregor.woff2') format('woff2'),
        url('../fonts/gregor/Gregor.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica';
    src: url('../fonts/helvetica/Helvetica-Regular.woff2') format('woff2'),
        url('../fonts/helvetica/Helvetica-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SportsWorld';
    src: url('../fonts/sportsworld/SportsWorld.woff2') format('woff2'),
        url('../fonts/sportsworld/SportsWorld.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

