/*==========  Desktop First Method  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1800px) {
	.text_video {
bottom: 80px;
    right: 10.0vw;
	}
	.transition {
		top: -100px;
	}
	#footer-img {
		top: -85px;
	}
	.owl-carousel-1 .item .frame {
		bottom: -100px;
	}
}
@media only screen and (max-width: 1700px) {
		.text_video {
bottom: 100px;
	}
	.transition_two {
		bottom: -95px;
	}
	.frame_mailing_two {
		bottom: -70px;
	}
	.frame_about_us {
		bottom: -25px;
	}

	/*catalog*/
	.catalog-body {
		max-width: 1500px;
	}
	.catalog-goods {
		margin-left: 70px;
	}
}
@media only screen and (max-width: 1600px) {
	.owl-carousel-1 .item .frame {
		bottom: -80px;
	}
	.text_video {
bottom: 100px;
	}
	.transition {
		top: -90px;
	}
	.transition_two {
		bottom: -80px
	}
.header-top, .header-center, .header-bottom {
max-width: 1450px;
}
.footer-table {
max-width: 1420px;
}
.footer-table .footer-list-2, .footer-table .footer-list-3, .footer-table .footer-list-4, .footer-table .footer-list-5 {
max-width: 265px;
}
.carousel-2, .carousel-3 {
	max-width: 1300px;
}
.product {
	width: 100%;
}
.product li:nth-of-type(2), .product li:nth-of-type(3), .product li:nth-of-type(4) {
	padding: 0 15px;
}
.product li:nth-of-type(4) p:nth-of-type(1) {
	margin-right: 15px;
}
.product li:nth-of-type(4) p:nth-of-type(2) {
	margin-right: 15px;
}
.group {
	height: 763px;
}
	/*catalog*/
	.catalog-body {
		max-width: 1440px;
	}
	/*productGood*/
	.product-good-body {
		max-width: 1440px;
	}
}
@media only screen and (max-width: 1510px) {
	.transition {
		top: -80px;
	}
	.transition_two {
		bottom: -70px
	} 
	#footer-img {
		top: -75px;
	} 
.header-top, .header-center, .header-bottom {
max-width: 1390px;
}
.footer-table {
max-width: 1400px;
}
.footer-table .footer-list-2, .footer-table .footer-list-3, .footer-table .footer-list-4, .footer-table .footer-list-5 {
max-width: 260px;
}
.footer-table .footer-list-1 {
padding: 15px;
}
/*catalog*/
	.catalog-body {
		max-width: 1380px;
	}
	.catalog-goods {
		margin-left: 30px;
	}
	.wrap-top {
		flex-wrap: wrap;
	}
	.wrap-top a {
		font-size: 15px;
	}
	/*productGood*/
	.product-good-body {
		max-width: 1380px;
	}
}
@media only screen and (max-width: 1420px) {
.header-top, .header-center, .header-bottom {
max-width: 1330px;
}
.header-center li:nth-of-type(1) img {
max-width: 160px;
}
.header-center li:nth-of-type(2) {
max-width: 140px;
}
#search {
max-width: 290px;
}
.header-bottom li {
margin-right: 65px;
}
.header-top li {
margin-right: 40px;
}
.header-center li:nth-of-type(6) a span, .header-center li:nth-of-type(7) a span {
margin-right: 10px;
}
.footer-table {
max-width: 1350px;
}
.footer-table .footer-list-2, .footer-table .footer-list-3, .footer-table .footer-list-4, .footer-table .footer-list-5 {
max-width: 255px;
}
.catalog-body {
		max-width: 100%;
		padding-left: 15px;
		padding-right: 15px;
	}
	/*productGood*/
	.product-good-body {
		max-width:100%;
		padding-left: 15px;
		padding-right: 15px;
	}
}
@media only screen and (max-width: 1366px) {
.header-top, .header-center, .header-bottom {
max-width: 1080px;
}
.header-top li:nth-of-type(8) a:nth-of-type(2),
.header-top li:nth-of-type(9) a:nth-of-type(2) {
display: none;
}
header, header a {
font-size: 12px;
}
.header-center li:nth-of-type(1) img {
max-width: 108px;
}
.header-center li:nth-of-type(2) {
font-size: 16px;
}
#search {
width: 92px;
transition: ease 1s all;
}
#search input {
padding: 0;
}
#search button {
top: 0;
right: 0;
width: 100%;
height: 100%;
}
#search input::-webkit-input-placeholder {
color: transparent;
}
#search input:-moz-placeholder {
color: transparent;
}
#search input:-ms-input-placeholder {
color: transparent;
}
.header-center li:nth-of-type(2) {
max-width: 155px;
}
.header-bottom li a {
font-size: 18px;
}
.header-bottom li {
margin-right: 60px;
}
.footer-table {
max-width: 1240px;
}
.footer-table .footer-list-2, .footer-table .footer-list-3, .footer-table .footer-list-4, .footer-table .footer-list-5 {
max-width: 230px;
}
.footer-table .footer-list-1 li:nth-of-type(1) {
display: flex;
justify-content: center;
}
.footer-table .footer-list-1 li:nth-of-type(1) img {
max-width: 115px;
height: 70px;
}
.footer-table .footer-list-1 li:nth-of-type(2) a, .footer-table .footer-list-1 li:nth-of-type(3) a {
font-size: 16px;
}
.footer-table .footer-list-2 li a, .footer-table .footer-list-3 li a, .footer-table .footer-list-4 li a, .footer-table .footer-list-5 li a {
font-size: 12px;
}
.footer-table {
height: 230px;
}
.footer-table .footer-list-1 li:nth-of-type(2),
.footer-table .footer-list-1 li:nth-of-type(3) {
margin-top: 10px;
}
.owl-carousel-1 .item .frame {
	bottom: -60px;
}
.carousel-2, .carousel-3, .carousel-4 {
	max-width: 1165px;
}
.header-owl p, .header-owl-2 p {
	font-size: 3.8vw;
}
.product li:nth-of-type(3) p {
	font-size: 16px;
}
.product li:nth-of-type(3) p span {
	font-size: 13px;
}
.product li:nth-of-type(4) span {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
.product li:nth-of-type(4) span:nth-of-type(2){
	justify-content: center;
	margin-top: 15px;
}
.product li:nth-of-type(4) a:nth-of-type(1) {
	margin-left: 0;
}
.product li:nth-of-type(4) a:nth-of-type(2) {
	width: 45px;
	height: 45px;
}
.product li:nth-of-type(4) {
	flex-direction: column;
}
.product li:nth-of-type(3) {
	height: 120px;
}
.index_video {
	height: 368px;
}
.text_video {
	bottom: 80px;
	right: 10.3vw;
}
.group {
	height: 599px;
}
.interesting {
	padding-right: 0;
	padding-left: 0;
	width: 1069px;
	margin: 0 auto;
	padding-top: 50px;
	padding-bottom: 50px;
}
.index-news {
	justify-content: space-between;
	flex-wrap: wrap;
}
.index-news li {
	width: 50%;
	max-width: 474px;
	padding-bottom: 51px;
}
.index-news li a {
	bottom: 60px;
}
.index-news li p:nth-of-type(3) {
	font-size: 13px;
}
.index-news li p:nth-of-type(2) {
	font-size: 22px;
	padding-bottom: 5px;
}
.ourMailing p:nth-of-type(2) {
	max-width: 43.92vw;
}
#search_mailing {
	max-width: 40vw;
	height: 50px;
}
#search_mailing button {
	width: 20px;
}
.ourMailing {
	padding: 35px 0;
}
.frame_mailing_two {
	bottom: -30px;
}
.name_about_us {
	padding-top: 0;
	font-size: 2.34vw;
}
.about_us {
	max-width: 1105px;
	margin: 0 auto;
}
.about_us .row p {
	font-size: 1.17vw;
}
#footer-img {
	top: -60px;
}
.header-owl, .header-owl-2 {
	padding-top: 60px;
	padding-bottom: 10px;
}
.carousel-3 {
	padding-top: 20px;
	padding-bottom: 130px;
}
.new, .sell, .stock {
	padding-top: 10px;
	padding-left: 15px;
}
.tag-abs, .tag-abs-two {
	top: 35px;
}
.tag-abs-two {
	top: 70px;
}
.stock-par-1 {
	width: 75px;
}
.new-par-1 {
	width: 100px;
}
.sell-par-1 {
	width: 130px;
}
.product {
	padding-bottom: 20px;
}
.frame_all {
	width: 700px;
}
.name_container {
	padding-left: 15px;
	padding-right: 15px;
}
.name_container {
	font-size: 52px;
	line-height: 55px;
}
.header-center li:nth-of-type(4) a p, .header-center li:nth-of-type(5) a p {
	font-size: 16px;
}
.header-center li:nth-of-type(4) a p span, .header-center li:nth-of-type(5) a p span {
	font-size: 12px;
}
.product li:nth-of-type(3) {
	height: 95px;
}
.ourMailing p:nth-of-type(1) {
	font-size: 52px;
line-height: 55px;
}
/*catalog*/
.left-bar {
	min-width: 253px;
}
.clear_filter {
	width: 100%;
}
.clear_filter img {
	display: none;
}
#amount, #amount2, #amount3, #amount4, #amount5, #amount6 {
	width: 90px;
}
.filter {
	padding: 30px 20px;
}
.wrap-top a {
	font-size: 14px;
}
.hashtags a {
	font-size: 14px;
}
.catalog-body {
	padding-bottom: 100px;
}
.name-page {
	font-size: 45px;
}
.slct {
	width: 276px;
}
.name-page img {
	margin-top: -30px;
	width: 70px;
}
.card-info-name {
	font-size: 32px;
}
.card-info-availability {
	font-size: 16px;
}
.card-info ul {
	padding: 40px 0;
}
.price-card {
	font-size: 24px;
}
.btn-card-info {
	max-width: 200px;
	height: 44px;
}
.card-info ul {
	max-width: 588px;
}
.info-section:nth-of-type(1) {
	padding: 0 5px 0 0;
}
.info-section:nth-of-type(2) {
	padding: 0 0 0 5px;
}
.clickSystem {
	display: none;
}
.header-owl-4 p {
	font-size: 32px;
}
}
@media only screen and (max-width: 1260px) {
.footer-table .footer-list-1 li:nth-of-type(2) a p:nth-of-type(1), .footer-table .footer-list-1 li:nth-of-type(3) a p:nth-of-type(1) {
margin-right: 7px;
}
.footer_min-dev {
width: 70%;
}
.footer-top {
padding: 0 25px;
}
#footer-img {
top: -30px;
}
.footer-table .footer-list-2 li a, .footer-table .footer-list-3 li a, .footer-table .footer-list-4 li a, .footer-table .footer-list-5 li a {
font-size: 11px;
}
.header-top, .header-center, .header-bottom {
padding: 0 20px;
}
.header-bottom li {
margin-right: 35px;
}
.header-bottom li a {
font-size: 16px;
}
.btn-buy {
	width: 24.21vw;
	font-size: 1.31vw;
}
.owl-carousel-1 .item .navigation .owl-prev, .owl-carousel-1 .item .navigation .owl-next {
	margin: 0 15px;
}
.transition {
	top: -70px;
}
.text_video {
	    max-width: 43vw;
	    right: 9.3vw;
}

/*catalog*/
.catalog-body {
	padding-bottom: 70px;
}
.info-section {
	width: 100%;
	padding: 0;
}
.text-tab {
	max-width: 968px;
}
.info-section {
	max-width: 968px;
	margin: 0 auto;
}
}
@media only screen and (max-width: 1200px) {
.carousel-2, .carousel-3, .carousel-4 {
	max-width: 1000px;
}
.header-owl .navigation-2 .owl-prev, .header-owl .navigation-2 .owl-next, .header-owl-2 .navigation-3 .owl-prev, .header-owl-2 .navigation-3 .owl-next {
	width: 10px;
}
.group {
	height: 550px;
}
.index_video {
	height: 330px;
}
.frame_all {
	width: 700px;	
}
.about_us {
	max-width: 1000px;
}
.stikers {
	padding: 10px;
}
.stikers .new-par-1 {
	width: 80px;
}
.new-par-1, .new-par-2, .new-par-3, .sell-par-1, .sell-par-2, .sell-par-3, .stock-par-1, .stock-par-2, .stock-par-3 {
	display: flex;
	align-items: center;
	justify-content: center;
}
.stikers .new-par-1 span, .stikers .sell-par-1 span, .stikers .stock-par-1 span {
	font-size: 10px;
}
.stikers .sell-par-1 {
	width: 100px;
}
.stikers .new-par-2, .stikers .sell-par-2, .stikers .stock-par-2 {
	width: 10px;
}
.stikers .new-par-3, .stikers .sell-par-3, .stikers .stock-par-3 {
	width: 5px;
}
.stikers .stock-par-1 {
	width: 60px;
}
.card-info ul {
	max-width: 510px;
}
.card-info-name {
font-size: 28px;	
}
.card-info-href-one img {
	width: 20px;
}
.card-info-href-one a:nth-of-type(2) img {
	width: 28px;
}
.card-info-href-two a {
	font-size: 13px;
}
.price-card {
	font-size: 22px;
}
.card-info-four ul li, .card-info-five ul li {
	margin-right: 15px;
}
.card-info-four ul li p, .card-info-five ul li p {
	margin-left: 5px;
}
.card-info-four ul li, .card-info-five ul li {
	font-size: 11px;
}
.checkbox-good div label {
	font-size: 11px;
}
}
@media only screen and (max-width: 1110px) {
.header-center li:nth-of-type(6) img {
width: 25px;
}
.header-center li:nth-of-type(7) img {
width: 30px;
}
.header-center li:nth-of-type(4) a p, .header-center li:nth-of-type(5) a p {
font-size: 16px;
}
.header-center li:nth-of-type(4) a p:nth-of-type(1), .header-center li:nth-of-type(5) a p:nth-of-type(1) {
margin-right: 7px;
}
.header-center li:nth-of-type(2) {
max-width: 135px;
font-size: 14px;
}
.header-center li:nth-of-type(4) {
display: none;
}
.header-center li:nth-of-type(4) a p, .header-center li:nth-of-type(5) a p {
	font-size: 14px;
}
.header-center li:nth-of-type(4) a p span, .header-center li:nth-of-type(5) a p span {
	font-size: 12px;
}
.header-center li:nth-of-type(2) {
    max-width: 113px;
    font-size: 12px;
} 
.header-center li:nth-of-type(1) img {
	width: 100px;
}
.header-center li:nth-of-type(6) a span, .header-center li:nth-of-type(7) a span {
	margin-right: 5px;
}
.btn-buy {
	height: 40px;
}
.transition {
	top: -65px;
}
.about_us {
	max-width: 930px;
} 
.interesting {
	max-width: 930px;
}
.no_request p, .no_request_btn p {
	font-size: 20px;
}
}
@media only screen and (max-width: 1070px) {
.carousel-2, .carousel-3 {
	max-width: 920px;
}
.transition {
	top: -60px;
}
.transition_two {
	bottom: -45px;
}
.text_video {
	    max-width: 44vw;
    right: 9.3vw;
    bottom: 120px;
}
}
@media only screen and (max-width: 992px) {
	.bxslider li img {
		max-width: 300px;
	}
	.slider-card {
		max-width: 410px;
		margin: 0 auto;
		display: flex;
		align-items: center;
		padding-bottom: 0px;
	}
	#bx-pager {
		flex-direction: column;
		height: 248px;
	}
	#bx-pager a {
		width: 50px;
		height: 50px;
	}
	.stikers {
		top: 10px;
	}
	.bxslider li .slider-img {
		padding-top: 61px;
	}
	.stikers .new-par-1 {
		width: 72px;
	}
	.stikers .stock-par-1{
		width: 56px;
	}
	.stikers .sell-par-1 {
		width: 91px;
	}
	.card-info ul {
		max-width: 588px;
	}
	.card-info ul {
		padding: 30px 0;
	}
	.card-info-name {
		font-size: 26px;
	}
	.card-info-href-two a {
		font-size: 14px;
	}
	.card-info-availability {
		font-size: 14px;
	}
	.card-info-availability img {
		width: 16px;
	}
	.price-card {
		font-size: 22px;
	}
	.price-card span {
		font-size: 12px;
	}
	.main_characteristics_name {
		font-size: 14px;
	}
	.card-info-four ul li p, .card-info-five ul li p {
		margin-left: 10px;
	}
	.requests {
		flex-direction: column;
	}
	.request {
		width: 100%;
		max-width: 100%;
	}
	#tabs .tab {
		width: 100%;
		padding: 14px 0;
		text-align: center;
	}
	#tabs .tabContent {
		padding-top: 45px;
	}
	.card-img, .card-info {
		border-right: 1px solid #E5E5E5;
	}
	.good-info {
		padding-right: 40px;
		padding-left: 40px;
	}
	#tabs {
		padding-right: 40px;
		padding-left: 40px;
	}
	.ruler {
		font-size: 14px;
		max-width: 157px;
		padding: 4px;
	}
	.tasty_link {
		font-size: 12px;
	}
	.no_request_btn .btn-enter_tabcco {
		max-width: 210px;
		font-size: 12px;
	}
	.no_request p, .no_request_btn p {
		max-width: 400px;
	}
	.card-img-embers #bx-pager {
		max-width: 128px;
		width: auto;
		max-height: 128px;
	}
}
/* Medium Devices, Desktops */
@media only screen and (max-width: 960px) {
.container-none-mob {
display: none;
}
.container-mob {
display: block;
}
.footer-table {
flex-direction: column;
height: auto;
}
.footer-top {
padding: 40px 25px;
}
.footer-table .footer-list-1 {
display: flex;
align-items: center;
justify-content: space-around;
width: 100%;
height: 74px;
padding: 0 15%;
border-right: none;
}
.footer-table .footer-list-1 li:nth-of-type(2), .footer-table .footer-list-1 li:nth-of-type(3) {
margin-top: 0;
}
.footer_min-dev {
width: 100%;
border-top: 2px solid #00BB2E ;
border-bottom: 2px solid #00BB2E;
}
.footer-table .footer-list-2 li, .footer-table .footer-list-3 li, .footer-table .footer-list-4 li, .footer-table .footer-list-5 li {
height: 51px;
}
.footer-table .footer-list-6 {
flex-direction: row;
justify-content: center;
padding: 20px 0;
margin: 0;
}
.footer-table .footer-list-6 li {
margin: 0;
}
.footer-table .footer-list-6 li:nth-of-type(1) img{
width: 33px;
margin-left: auto;
}
.footer-table .footer-list-6 li:nth-of-type(2) img{
width: 30px;
margin: 0 50px;
}
.footer-table .footer-list-6 li:nth-of-type(3) img{
width:25px;
margin-right: auto;
}
.footer-table .footer-list-5 {
border-right: none;
}
.footer-table .footer-list-2 li a, .footer-table .footer-list-3 li a, .footer-table .footer-list-4 li a, .footer-table .footer-list-5 li a {
font-size: 12px;
}
.footer-table .footer-list-2, .footer-table .footer-list-3, .footer-table .footer-list-4, .footer-table .footer-list-5 {
width: 25%;
}
.footer-table .footer-list-1 li:nth-of-type(1) img {
width: 93px;
height: 50px;
}
.footer-table .footer-list-1 li:nth-of-type(2) a span, .footer-table .footer-list-1 li:nth-of-type(3) a span {
font-size: 12px;
}
.owl-carousel .owl-item .slide_first_img {
	margin-left: -31%;
	width: 170%;
}
.text-slide {
	font-size: 45px;
line-height: 47px;
}
.item-buy {
	max-width: 57vw; 
	top: 25%;
}
.btn-buy {
	height: 44px;
	width: 32vw;
}
.owl-carousel-1 .item {
	overflow: hidden;
}
.owl-carousel-1 .item .navigation {
	font-size: 5.41vw;
	bottom: 15px;
	right: 1%;
}
.owl-carousel-1 .item .navigation .owl-prev, .owl-carousel-1 .item .navigation .owl-next {
	width: 18px;
	height: 35px;
	padding: 0 10px;
}
.carousel-2, .carousel-3 {
	max-width: 900px;
}
.product li:nth-of-type(2) img {
	display: block;
	max-height: 184px;
	width: auto;
	margin: 0 auto;
}
.product li:nth-of-type(1) {
	height: 30px;
}
.new-par-1 {
	width: 86px;
}
.sell-par-1{
	width: 105px;
}
.stock-par-1 {
	width: 70px;
}
.new-par-2, .sell-par-2, .stock-par-2 {
	width: 13px;
}
.new-par-3, .sell-par-3, .stock-par-3 {
	width: 5px;
}
.new-par-1, .new-par-2, .new-par-3,
.sell-par-1, .sell-par-2, .sell-par-3,
.stock-par-1, .stock-par-2, .stock-par-3 {
	height: 20px;
}
.new-par-1 span, .sell-par-1 span, .stock-par-1 span {
	font-size: 10px;
	height: 100%;
}
.product li:nth-of-type(3) {
	padding-top: 10px;
}
.product li:nth-of-type(3) {
	height: 107px;
}
.product li:nth-of-type(4) p span {
	font-size: 16px;
}
.product li:nth-of-type(4) a:nth-of-type(1) {
	width: 21px;
}
.product li:nth-of-type(4) a:nth-of-type(2) {
	width: 40px;
	height: 40px;
}
.product li:nth-of-type(4) a:nth-of-type(2) img {
	width: 18px;
	height: 17px;
}
.product li:nth-of-type(4) span:nth-of-type(2) {
	margin-top: 5px;
}
.tag-abs {
	top: 30px;
}
.tag-abs-two {
	top: 61px;
}
.header-owl p, .header-owl-2 p {
	font-size: 4.68vw;
}
.index_video {
	width: 53.12vw;
	height: 285px;
	right: 4.48vw;
	top: -145px;
}
.group {
	padding-top: 0;
	margin-top: 100px;
	height: 470px;
}
.text_video {
	font-size: 4.27vw;
	max-width: 52.18vw;
	right: 4vw;

}
.text_video span:nth-of-type(2) {
	font-size: 14px;
line-height: 22px;
}
.text_video a {
	font-size: 14px;
}
.frame_all {
	width: 500px;
	top: 0;
}
.transition {
	top: -45px;
}
.name_container {
	font-size: 4.68vw;
}
.interesting {
	padding-right: 20px;
	padding-left: 20px;
	padding-bottom: 10px;
}
.ourMailing {
	margin-bottom: 60px;
}
.ourMailing p:nth-of-type(1){
	font-size: 45px;
line-height: 47px;
}
.ourMailing p:nth-of-type(2) {
	font-size: 14px;
	max-width: 65.92vw;
}
#search_mailing {
	max-width: 63vw;
	height: 50px;
}
.frame_mailing {
	top: -25px;
}
.frame_mailing_two {
	bottom: -20px;
}
.name_about_us {
	font-size: 2.70vw;
}
.about_us .row p {
	font-size: 14px;
}
.about_us .row p br {
	display: none;
}
.about_us .row .p-pad {
	padding-top: 20px;
}
.href_about_us {
	padding-top: 20px;
}
.frame_about_us {
	bottom: -15px;
}
.name_container {
	font-size: 45px;
line-height: 47px;
} 
/*catalog*/
.left-bar {
	display: none;
}
.catalog-goods {
	margin-left: 0;
}
.wrap-top {
	display: none;
}
.tab-vision {
	display: block;
}
.filter_main {
	display: flex;
	flex-direction: wrap;
	padding: 0;
	background: #FFFFFF;
	border: none;
}
.filter-tabs {
	display: flex;
	align-items: center;
	justify-content: center;
}
.wrap-bottom {
	background: #F5F5F5;
border: 1px solid #B6B6B6;
box-sizing: border-box;
padding-left: 30px;
padding-right: 30px;
margin-left: 14px;
}
.check_main_filter label {
	font-size: 14px;
}
.slct, .drop li{
	font-size: 14px;
}
.filter-tabs .left-bar {
	display: block;
	min-width: 300px;
}
.filter_container-name-filter {
	font-family: MontserratSemiBold;
font-size: 22px;
display: flex;
align-items: center;
color: #292929;
padding: 22px 20px;
}
.filter-tabs .filter {
	border-right: none;
	border-left: none;
}
.filter-tabs .popup-menu .checkbox_content div {
	text-align: left;
	width: auto;
}
.filter-tabs .popup-menu .slider-range4 #slider-range4, 
.filter-tabs .popup-menu .slider-range5 #slider-range5, 
.filter-tabs .popup-menu .slider-range6 #slider-range6 {
margin-bottom: 18px;
background: #E5E5E5;
}
.filter-tabs .popup-menu .ui-widget-header  {
	background: #00BB2E;
}
.filter-tabs .popup-menu .slider-range4, 
.filter-tabs .popup-menu .slider-range5, 
.filter-tabs .popup-menu .slider-range6 {
margin-top: 18px;
}
.catalog-body {
	padding-bottom: 40px;
}
.header-owl-4 p {
	font-size: 28px;
}
}
@media only screen and (max-width: 920px) {
.carousel-2, .carousel-3 {
	max-width: 850px;
}
@media only screen and (max-width: 880px) {
.carousel-2, .carousel-3 {
	max-width: 800px;
}
.group {
	height: 420px;
}
.text_video {
	bottom: 75px;
}
}

@media only screen and (max-width: 830px) {
.footer-table .footer-list-1 {
padding: 0 5%;
}
.carousel-2, .carousel-3 {
	max-width: 770px;
}
}
@media only screen and (max-width: 802px) {
.product li:nth-of-type(3) {
	height: 125px;
}
}
@media only screen and (max-width: 800px) {
.carousel-2, .carousel-3 {
	max-width: 730px;
}
}
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
	.header-mob .header-mob-logo {
		width: 60%;
	}
	.header-mob .header-mob-left, .header-mob .header-mob-right {
		width: 20%;
	}
	.header-mob .header-mob-right a img {
		width: 29px;
	}
	.header-mob .header-mob-right {
		padding-right: 40px;
	}
	.btn-menu-tab {
		left: 40px;
	}
.mobile-vision {
display: block;
}
.mobile-none {
display: none;
}
.footer-table .footer-list-2 li:nth-of-type(4),
.footer-table .footer-list-3 li:nth-of-type(4),
.footer-table .footer-list-4 li:nth-of-type(4) {
border-bottom: 2px solid #00BB2E;
}
.footer-table .footer-list-2 li:nth-of-type(5),
.footer-table .footer-list-3 li:nth-of-type(6),
.footer-table .footer-list-4 li:nth-of-type(7) {
border-bottom: none;
}
.footer-table .footer-list-2, .footer-table .footer-list-3, .footer-table .footer-list-4 {
max-width: 100%;
width: 33.3333333333333333%;
}
.footer-table .footer-list-4 {
border-right: none;
}
.owl-carousel .owl-item .slide_first_img {
	margin-left: -50%;
	width: 220%;
}
.text-slide {
	font-size: 5.2vw;
	line-height: 42px;
}
.item-buy {
	top: 35%;
}
.header-owl p, .header-owl-2 p {
	font-size: 5.86vw;
}
.carousel-2, .carousel-3 {
	max-width: 690px;
}
.product li:nth-of-type(2) img {
	max-height: 170px;
}
.product li:nth-of-type(3) p {
	font-size: 13px;
}
.product li:nth-of-type(3) p span {
	font-size: 11px;
}
.product li:nth-of-type(4) p span {
	font-size: 15px;
}
.product li:nth-of-type(4) p:nth-of-type(2) span:before {
	width: 58px;
}
.product li:nth-of-type(3) {
	height: 91px;
}
.owl-carousel-1 .item .frame {
	bottom: -29px;
}
.owl-carousel-1 .item .navigation {
	font-size: 4.4vw;
	    bottom: 40px;
    right: 5%;
}
.header-owl, .header-owl-2 {
	padding-top: 40px;
}
.index_video {
	width: 67.18vw;
	right: 50%;
	margin-right: -33.59vw;
}
.text_video {
	right: 50%;
	max-width: 65.23vw;
	margin-right: -32.61vw;
}
.logo_index {
	top: 450px;
}
.text_video span:nth-of-type(1) {
	justify-content: center;
}
.text_video {
	position: relative;
	margin: 0 auto;
	right: 0;
	bottom: 0;
	top: 160px;
}
.group {
	height: 700px;
}
.logo_index {
	left: 50%;
	width: 29.56vw;
	margin-left: -14.78vw;
	top: 395px;
}
.transition_two {
	bottom: -40px;
}
.name_container {
	font-size: 5.86vw;
}
.index-news li p:nth-of-type(1) {
	font-size: 12px;
}
.index-news li {
	width: 100%;
	max-width: 100%;
	padding-bottom: 0px;
	padding-top: 0;
}
.index-news li a {
	font-size: 12px;
	bottom: 25px;
}
.index-news {
	padding-bottom: 20px;
}
.ourMailing p:nth-of-type(1) {
	font-size: 5.86vw;
}
.ourMailing {
	padding-top: 120px;
	padding-bottom: 120px;
}
.name_about_us {
	font-size: 3.86vw;
}
.href_about_us {
	font-size: 12px;
}
.mobile-footer-img {
	overflow: hidden;
	height: 380px;
}
.btn-buy {
	font-size: 14px;
}
.carousel-2, .carousel-3 {
	width: 580px;
}
.product li:nth-of-type(4) p:nth-of-type(1) {
	margin-right: 12px;
}
.transition {
	top: -35px;
}
.name_container {
	font-size: 28px;
}
.index-news li p:nth-of-type(1) {
	padding-bottom: 7px;
}
.index-news li p:nth-of-type(2) {
	font-size: 18px;
}
.index-news li {
	padding: 0;
	padding-bottom: 5px;
}
.name_container {
	padding-left: 0;
	padding-right: 0;
}
.frame_mailing {
	width: 500%;
}
.ourMailing p:nth-of-type(3) {
	max-width: 300px;	
}
.ourMailing {
	padding-top: 80px;
	padding-bottom: 80px;
}
.hidden-menu__tab {
	width: 100%;
	left: -100%;
}
.hidden-menu-ticker-tab:checked ~ .btn-menu-tab {
	left: auto;
	right: 15px;
}
.name_about_us {
	font-size: 19px;
	padding-bottom: 20px;
}
.name_container {
font-size: 45px;
line-height: 47px;
} 
.about_us {
	padding-bottom: 100px;
}
.filter_main {
	flex-direction: column;
}
.wrap-bottom {
	margin: 0;
	padding: 13px 30px;
}
.filter-tabs {
	margin-bottom: 10px;
}
.filter-tabs .button-menu {
	width: 100%;
	padding: 12px 0;
}
.filter-tabs .container-menu {
	width: 100%;
}
.name-page {
	padding-bottom: 45px;
}
.name-page img {
	width: 60px;
	margin-top: -15px;
}
.header-owl-4 p {
	font-size: 26px;
}
.good-info,
.product-good-body {
	max-width: 688px;
	padding-left: 0;
	padding-right: 0;
}
#tabs {
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 70px;
}
#tabs .tab {
	font-size: 14px;
}
.param, .text-tab {
	font-size: 13px;	
}
.request li:nth-of-type(2) {
	font-size: 14px;
}
.request li:nth-of-type(2) span {
	font-size: 13px;
}
.header-owl-4 p {
	font-size: 20px;
}
.header-owl-4 .navigation-4 .owl-prev, .header-owl-4 .navigation-4 .owl-next {
	width: 10px;
}
.carousel-4 .header-owl-4 p {
	font-size: 18px;
}
.product-good-body {
	padding-bottom: 0;
}
.breadcrumb {
	padding-left: 15px;
	padding-right: 15px;
}
.no_request, .no_request_btn {
	flex-direction: column;
}
.no_request p, .no_request_btn p {
	font-size: 14px;
	padding-bottom: 20px;
}
.tab_taste .stepper .stepper__controls button,
.tasty_plus{
	width: 30px;
	height: 30px;
}
}
@media only screen and (max-width: 700px) {
.mobile-footer-img {
	height: 360px;
}
.ourMailing p:nth-of-type(1) {
font-size: 28px;
line-height: 29px;
}
.good-info,
.product-good-body {
	max-width: 600px;
} 
.card-info ul {
	padding-left: 15px;
	padding-right: 15px;
}
}
@media only screen and (max-width: 650px) {
.good-info,
.product-good-body {
	max-width: 570px;
} 
}
@media only screen and (max-width: 600px) {
	.header-mob .header-mob-logo p {
		display: none;
	}
	#footer-img {
		top: -15px;
	}
	.footer-bottom ul li {
		font-size: 12px;
	}
.footer-top {
padding: 40px 10px;
}
.footer-table .footer-list-1 li:nth-of-type(2) a, .footer-table .footer-list-1 li:nth-of-type(3) a {
font-size: 14px;
}
.footer-table .footer-list-1 li:nth-of-type(2) a span, .footer-table .footer-list-1 li:nth-of-type(3) a span {
font-size: 11px;
}
.mob-xs-vision {
display: block;
}
.mob-xs-none {
display: none;
}
.footer-table .footer-list-1 {
padding: 0;
}
.footer_xs-dev {
display: flex;
}
.footer_xs-dev ul {
width: 50%;
border: 2px solid #00BB2E;
border-right: none;
}
.footer_xs-dev ul:nth-of-type(1){
border-left: none;
}
.footer_xs-dev ul li {
font-family: MontserratBold;
font-size: 10px;
text-transform: uppercase;
height: 44px;
border-bottom: 2px solid #00BB2E;
}
.footer_xs-dev ul li a {
display: flex;
justify-content: center;
align-items: center;
text-align: center;
width: 100%;
height: 100%;
color: #B6B6B6;
}
.footer_xs-dev ul li a:hover {
color: #FFFFFF;
}
.footer_xs-dev ul li:nth-of-type(8) {
border-bottom: none;
}
.owl-carousel .owl-item .slide_first_img {
	min-height: 433px;
	width: 1200px;
	object-fit: cover;
}
.item-buy {
	left: 50%;
	top: 50%;
	margin-top: -100px;
	margin-left: -28.5vw;
}
.btn-buy {
	width: 95%;
}
.carousel-2, .carousel-3, .carousel-4 {
	width: 490px;
}
.transition {
	top: -23px;
}
.transition_two {
	bottom: -26px;
}
.mobile-footer-img {
	height: 310px;
} 
.carousel-3 {
	padding-bottom: 60px;	
}
.text_video {
	max-width: 100%;
	padding-left: 15px;
	padding-right: 15px;
}
.group {
    height: 635px;
} 
.products .product {
	width: 50%;
}
.slct {
	width: 240px;
}
.products .product li:nth-of-type(2) {
	display: flex;
	justify-content: center;
}
.good-info,
.product-good-body {
	max-width: 520px;
}  
.slct_tab, .arrow-mob__tab, #select_tab {
	display: block;
}
.slct_tab {
	width: 100%;
	height: 44px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 0;
	padding: 0;
	border: 1px solid #E5E5E5;
box-sizing: border-box;
}
#tabs .whiteborder {
	    border: 1px solid #E5E5E5;
}
#tabs .tab {
	padding: 0;
	height: 44px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.drop_tab {
	display: none;
}
.arrow-mob__tab {
	position: absolute;
	top: 20px;
	right: 25px;
	transform: rotate(180deg);
}
.slider-card {
	flex-direction: column;
}
#bx-pager {
	display: flex;
	flex-direction: row;
	max-width: 80px;
	height: auto;
}
#bx-pager a img {
display: none;
}
#bx-pager a {
	border: none;
	width: 10px;
	height: 10px;
	background: #F5F5F5;
	border-radius: 50%;
}
#bx-pager .active {
background: #00BB2E;
border:none;
}
.bxslider li img {
	margin: 0 auto;
}
.card-img, .card-info {
	border: none;
}
.card-info-one {
	display: none;
	border: none;
}
.card-img {
	max-width: 588px;
	padding-bottom: 30px;
	border-bottom: 1px solid #E5E5E5;
}
.card-info-two {
	flex-wrap: wrap;
	max-width: 380px;
	margin: 0 auto;
}
.card-info-two div {
width: 50%;
}
.card-info-two div .stepper,
.card-info-two div .stepper .stepper__controls {
width: 100%;
display: flex;
justify-content: flex-end;
}
.price-card {
	font-size: 20px;
}
.card-info-two div:nth-of-type(3) {
	display: flex;
	justify-content: center;
	width: 100%;
	padding-top: 30px;
}
body .btn-card-info {
	max-width: 380px;
	width: 100%;
}
.name-good-mob {
	display: block;
	position: relative;
	display: flex;
	padding-right: 15px;
	padding-left: 15px;
}
.name-good-mob .card-info-href-one {
	padding-top: 5px;
	display: flex;
}
.name-good-mob .card-info-href-one a {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 22px;
	height: 26px;
}
.name-good-mob .card-info-href-one a:nth-of-type(2) {
	width: 30px;
	height: 25px;
}
.name-good-mob .card-info-href-one a img {
	width: 100%;
	height: 100%;
}
.card-info-href-two {
	bottom: 20px;
	right: 15px;
}
.card-info-name {
	font-size: 19px;
}
.breadcrumb {
	flex-wrap: wrap;
}
.breadcrumb li {
	padding-top: 14px;
}
.product-good-body {
	padding-top: 6px;
}
.card-img, .card-info {
	height: auto;
}
.card-info-two {
	padding-top: 0;
}
.card-info-four-mob-none, .card-info-five-mob-none {
	display: none;
}
#r-adress-good-2,
#r-adress-good-1,
#r-adress-good-4,
#r-adress-good-3 {
	padding-top: 24px;
}
#r-adress-good-2 .link_filter,
#r-adress-good-1 .link_filter,
#r-adress-good-4 .link_filter,
#r-adress-good-3 .link_filter {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	align-items: space-between;
}
#r-adress-good-2 .link_filter span,
#r-adress-good-1 .link_filter span,
#r-adress-good-4 .link_filter span,
#r-adress-good-3 .link_filter span {
margin: 0;
font-family: MontserratBold;
font-size: 14px;
color: #292929;
}
.card-info .card-info-four ul, .card-info .card-info-five ul {
	flex-direction: column;
}
#tabs {
	padding-top: 60px;
	padding-left: 15px;
	padding-right: 15px;
}
.card-info-six {
	border-bottom: 1px solid #E5E5E5;
}
.request li:nth-of-type(1) p:nth-of-type(2) {
	font-size: 14px;
}
.footerRequest p {
	font-size: 14px;
}
.param__prop:after {
	display: none;
}
.param {
	flex-direction: column;
}
.param__prop {
	color: #B6B6B6;
}
#r-adress-good-4,
#r-adress-good-2,
#r-adress-good-1,
#r-adress-good-3 {
	display: block;
}
.card-info-two-tobacco div {
	width: auto;
}
.card-info-two div:nth-of-type(2) .common-price {
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
	font-size: 12px;
}
.card-info-two div:nth-of-type(2) .common-price span {
	font-size: 14px;
}
.card-info-two-tobacco {
	max-width: 100%;
	padding-top: 20px;
	padding-bottom: 20px;
	justify-content: center;
}
.card-info-tabacco {
	padding: 0px 15px;
}
.card-info-tabacco ul {
	padding: 0 ;
}
.card-info-two-tobacco .price-card span {
	text-align: center;
}
.card-info-one-tabacco {
	border-bottom: 1px solid #E5E5E5;
}
.card-info-two-tobacco div:nth-of-type(2) {
	display: none;
}
.card-info-tabacco .card-info-two-tobacco .order-embers {
	display: block;
}
.card-info-two-tobacco {
	justify-content: space-between;
}
.tab_taste .main_characteristics_name {
	font-size: 14px;
}
.tab_taste .main_characteristics_name span {
	font-size: 14px;
}
.tasty_link img {
	width: 35px;
	height: 35px;
}
.tasty_link a {
	height: 20px;
	width: 20px;
	font-size: 12px;
}
.stikers div {
	margin-right: 0;
}
.tab_taste li{
	position: relative;
	flex-direction: column;
}
.tab_taste li .order {
	padding-top: 37px;
	margin-left: auto;
}
.tasty_link span {
	position: absolute;
	top: 14px;
	left: 74px;
}
.tasty_link a {
	position: absolute;
	top: 14px;
	right: 0;
}
.tasty_link img {
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -30px;
	width: 60px;
	height: 60px;
}
.card-img-embers #bx-pager {
	max-width: 50px;
	width: 50px;
}
}
@media only screen and (max-width: 540px) {
	.products  {
		flex-direction: column;
		align-items: center;
	}
.products .product {
	width: 100%;
	max-width: 300px;
}
.wrap-bottom {
	flex-direction: column;
	align-items: center;
	padding: 23px 0;

}
.wrap-bottom .wrap-bottom-mob {
	flex-direction: column;
	align-items: flex-start;
	max-width: 300px;
}
.slct {
	width: 300px;
}
.check_main_filter {
	margin-bottom: 23px;
}
.slct_tab {
	width: 100%;
}
}
@media only screen and (max-width: 500px) {
	.header-mob .header-mob-right a img {
		width: 25px;
	}
	.header-mob .header-mob-right {
		padding-right: 30px;
	}
	.btn-menu-tab {
		top: 30px;
		left: 30px;
	}
.footer-table .footer-list-1 {
flex-direction: column;
height: auto;
padding-top: 20px;
}
.footer-table .footer-list-1 li {
margin-bottom: 20px;
}
.footer-table .footer-list-1 li:nth-of-type(2) a, .footer-table .footer-list-1 li:nth-of-type(3) a {
font-size: 16px;
}
.footer-table .footer-list-1 li:nth-of-type(2) a span, .footer-table .footer-list-1 li:nth-of-type(3) a span {
font-size: 12px;
}
.footer-bottom ul {
flex-direction: column;
}
.footer-bottom ul li:nth-of-type(2) {
	flex-direction: row-reverse;
	margin: 0;
}
.footer-bottom ul li:nth-of-type(2) img {
	margin-left: 0;
	margin-right: 15px;
}
.footer-bottom ul li:nth-of-type(2) p:nth-of-type(1) {
	display: flex;
	align-items: center;
}
.footer-bottom ul li:nth-of-type(1) {
	margin-bottom: 10px;
}
.footer-bottom {
	height: auto;
	padding: 20px 0;
}
.footer-bottom ul li:nth-of-type(2) span {
	display: inline-block;
}
.btn-buy {
	font-size: 12px;
} 
.item-buy {
	max-width: 100%;
	width: 100%;
	margin-left: 0;
	left: 0;
	padding: 0 20px;
}
.btn-buy {
	width: 100%;
	max-width: 300px;
	margin: 0 auto; 
}
.text-slide {
	font-size: 28px;
}
.carousel-2, .carousel-3, .carousel-4 {
	width: 280px;
} 
.carousel-2 .navigation-2, .carousel-3 .navigation-3, .carousel-4 .navigation-4 {
	display: none;
}
.owl-carousel .owl-dots {
	display: block;
}
.header-owl p, .header-owl-2 p {
	font-size: 28px;
}
.index_video {
	width: 90%;
	height: 200px;
	margin-top: 57px;
	margin-right: -45%;
}
.text_video {
	top: 130px;
}
.logo_index {
	top: 340px;
	min-width: 141px;
}
.group {
	height: 580px;
}
.owl-carousel-1 .item .frame {
	bottom: -19px;
}
.text-slide {
	max-width: 300px;
	margin: 0 auto;
	line-height: 35px;
}
.transition {
	top: -13px;
}
.mobile-footer-img {
	height: 250px;
}  
.ourMailing p:nth-of-type(2) {
	max-width: 100%;
	padding-left: 15px;
	padding-right: 15px;
}
#search_mailing {
	max-width: 100%;
	margin-left: 15px;
	margin-right: 15px;
}
.ourMailing {
	padding-left: 15px;
	padding-right: 15px;
}
.name_container {
font-size: 28px;
line-height: 29px;
} 
.about_us {
	padding-bottom: 60px;
} 
.name-page {
	font-size: 28px;
}
.name-page img {
	width: 45px;
}
#amount7, #amount8, #amount9, #amount10, #amount11, #amount12 {
	width: 80px;
}
.filter-tabs .left-bar {
	min-width: 253px;
}
}
@media only screen and (max-width: 450px) {
	.owl-carousel .owl-item .slide_first_img {
	width: 1100px;
	margin-left: -230px;
}
.transition_two {
	bottom: -60px;
	width: 300%;
	left: -200px;
}
.logo_index {
	top: 375px;
}
.group {
    height: 610px;
}
}
@media only screen and (max-width: 400px) {
	.owl-carousel .owl-item .slide_first_img {
	margin-left: -270px;
}
.mobile-footer-img {
	height: 200px;
}   
.header-mob .header-mob-logo img {
	width: 100px;
}
.header-mob .header-mob-right a {
	margin-left: 10px;
}
.header-mob-right {
	padding-right: 15px;
}
}
@media only screen and (max-width: 370px) {
	.owl-carousel .owl-item .slide_first_img {
	width: 900px;
}
.ourMailing p:nth-of-type(1) {
font-size: 23px;
line-height: 24px;
}
.logo_index {
	top: 390px;
	margin-left: -19.78vw;
}
.group {
    height: 630px;
} 
.wrap-bottom .wrap-bottom-mob {
	max-width: 250px;
}
.slct {
	width: 250px;
}
.slct_tab {
	width: 100%;
}
}
@media only screen and (max-width: 340px){
.logo_index {
	top: 430px;
	margin-left: -20vw;
}
.group {
    height: 650px;
} 
}
@media only screen and (max-width: 320px){
.hidden-menu__tab {
	width: 320px;
	left: -320px;
}
.logo_index {
	margin-left: -26vw;
}
}